<h2>Задание 1</h2>
Найдите номер модели, скорость и размер жесткого диска для всех ПК стоимостью менее 500 дол. Вывести: model, speed и hd

In [2]:
sql = '''
SELECT model, speed, hd
FROM PC
WHERE price < 500'''

<h2>Задание 2</h2>
Найдите производителей принтеров. Вывести: maker

In [3]:
sql = '''
SELECT DISTINCT maker
FROM Product
WHERE type LIKE 'Printer'
'''

<h2>Задание 3</h2>
Найдите номер модели, объем памяти и размеры экранов ПК-блокнотов, цена которых превышает 1000 дол.

In [4]:
sql = '''
SELECT model, ram, screen
FROM Laptop
WHERE price > 1000
'''

<h2>Задание 4</h2>
Найдите все записи таблицы Printer для цветных принтеров.

In [5]:
sql = '''
SELECT *
FROM Printer
WHERE color LIKE 'y'
'''

<h2>Задание 5</h2>
Найдите номер модели, скорость и размер жесткого диска ПК, имеющих 12x или 24x CD и цену менее 600 дол.

In [6]:
sql = '''
SELECT model, speed, hd
FROM PC
WHERE cd IN ('12x', '24x') AND price < 600
'''

<h2>Задание 6</h2>
Для каждого производителя, выпускающего ПК-блокноты c объёмом жесткого диска не менее 10 Гбайт, найти скорости таких ПК-блокнотов. Вывод: производитель, скорость.

In [7]:
sql = '''
SELECT DISTINCT Product.maker, Laptop.speed
FROM Product
     INNER JOIN Laptop ON Laptop.model = Product.model
WHERE Product.model IN (SELECT model FROM Laptop) AND Laptop.hd >= 10
'''

<h2>Задание 7</h2>
Найдите номера моделей и цены всех имеющихся в продаже продуктов (любого типа) производителя B (латинская буква).

In [8]:
sql = '''
SELECT Product.model, price
FROM Product
     INNER JOIN PC ON PC.model = Product.model
WHERE maker LIKE 'B%'
UNION
SELECT Product.model, price
FROM Product
     INNER JOIN Laptop ON Laptop.model = Product.model
WHERE maker LIKE 'B%'
UNION
SELECT Product.model, price
FROM Product
     INNER JOIN Printer ON Printer.model = Product.model
WHERE maker LIKE 'B%'
'''

<h2>Задание 8</h2>
Найдите производителя, выпускающего ПК, но не ПК-блокноты.

In [9]:
sql = '''
SELECT DISTINCT maker
FROM Product
WHERE type = 'PC' AND 
      maker NOT IN (SELECT maker 
                    FROM Product 
                    WHERE type = 'Laptop'
                    ) 
'''

<h2>Задание 9</h2>
Найдите производителей ПК с процессором не менее 450 Мгц. Вывести: Maker

In [10]:
sql = '''
SELECT DISTINCT maker as Maker
FROM Product p
     INNER JOIN PC ON p.model = PC.model
WHERE PC.speed >= 450
'''

<h2>Задание 10</h2>
Найдите модели принтеров, имеющих самую высокую цену. Вывести: model, price

In [11]:
sql = '''
SELECT model, price
FROM Printer
WHERE price IN (SELECT MAX(price) FROM Printer)
'''

<h2>Задание 11</h2>
Найдите среднюю скорость ПК.

In [12]:
sql = '''
SELECT AVG(speed)
FROM PC
'''

<h2>Задание 12</h2>
Найдите среднюю скорость ПК-блокнотов, цена которых превышает 1000 дол.

In [13]:
sql = '''
SELECT AVG(speed)
FROM Laptop
WHERE price > 1000
'''

<h2>Задание 13</h2>
Найдите среднюю скорость ПК, выпущенных производителем A.

In [14]:
sql = '''
SELECT AVG(speed)
FROM PC
WHERE model IN (SELECT model FROM Product WHERE maker='A')
'''

<h2>Задание 14</h2>
Найдите класс, имя и страну для кораблей из таблицы Ships, имеющих не менее 10 орудий.

In [15]:
sql = '''
SELECT Ships.class, name, country
FROM Ships
     INNER JOIN Classes ON Classes.class = Ships.class
WHERE Ships.class IN (SELECT class FROM Classes WHERE numGuns>=10)
'''

<h2>Задание 15</h2>
Найдите размеры жестких дисков, совпадающих у двух и более PC. Вывести: HD

In [16]:
sql = '''
SELECT hd
FROM PC
GROUP BY hd
HAVING COUNT(hd) > 1
'''

<h2>Задание 16</h2>
Найдите пары моделей PC, имеющих одинаковые скорость и RAM. В результате каждая пара указывается только один раз, т.е. (i,j), но не (j,i), Порядок вывода: модель с большим номером, модель с меньшим номером, скорость и RAM.

In [17]:
sql = '''

'''

<h2>Задание 17</h2>
Найдите модели ПК-блокнотов, скорость которых меньше скорости каждого из ПК.
Вывести: type, model, speed

In [18]:
sql = '''
SElECT DISTINCT Product.type, Product.model, Laptop.speed
FROM Product
     INNER JOIN Laptop ON Product.model = Laptop.model
WHERE Laptop.speed < ALL(SELECT MIN(speed) FROM PC) AND Product.type LIKE 'Laptop'
'''

<h2>Задание 18</h2>
Найдите производителей самых дешевых цветных принтеров. Вывести: maker, price

In [19]:
sql = '''
SELECT DISTINCT maker, price
FROM Product
     INNER JOIN Printer ON Product.model = Printer.model
WHERE price = (SELECT MIN(price) FROM Printer WHERE color LIKE 'y') AND color LIKE 'y'
'''

<h2>Задание 19</h2>
Для каждого производителя, имеющего модели в таблице Laptop, найдите средний размер экрана выпускаемых им ПК-блокнотов.
Вывести: maker, средний размер экрана.

In [20]:
sql = '''
SELECT maker, AVG(screen)
FROM Product
     INNER JOIN Laptop ON Product.model = Laptop.model
GROUP BY maker
'''

<h2>Задание 20</h2>
Найдите производителей, выпускающих по меньшей мере три различных модели ПК. Вывести: Maker, число моделей ПК.

In [21]:
sql = '''
SELECT maker as Maker, COUNT(DISTINCT Product.model) as Count_Model
FROM Product
WHERE type LIKE 'PC'
GROUP BY maker
HAVING COUNT(DISTINCT Product.model) >= 3
'''

<h2>Задание 21</h2>
Найдите максимальную цену ПК, выпускаемых каждым производителем, у которого есть модели в таблице PC.
Вывести: maker, максимальная цена.

In [22]:
sql = '''
SELECT maker, MAX(PC.price)
FROM Product
     INNER JOIN PC ON Product.model = PC.model
GROUP BY maker
'''

<h2>Задание 22</h2>
Для каждого значения скорости ПК, превышающего 600 МГц, определите среднюю цену ПК с такой же скоростью. Вывести: speed, средняя цена.

In [23]:
sql = '''
SELECT speed, AVG(price)
FROM PC
WHERE speed > 600
GROUP BY speed
'''

<h2>Задание 23</h2>
Найдите производителей, которые производили бы как ПК
со скоростью не менее 750 МГц, так и ПК-блокноты со скоростью не менее 750 МГц.
Вывести: Maker

In [24]:
sql = '''
SELECT maker as Maker
FROM Product
WHERE model IN (SELECT model FROM PC WHERE speed >= 750)
INTERSECT
SELECT maker as Maker
FROM Product
WHERE model IN (SELECT model FROM Laptop WHERE speed >= 750)
'''

<h2>Задание 24</h2>
Перечислите номера моделей любых типов, имеющих самую высокую цену по всей имеющейся в базе данных продукции.

In [25]:
sql = '''
select distinct model
from
  (select model, price
  from pc
  union all
  select model, price
  from laptop
  union all
  select model, price
  from printer) as ag
where ag.price=(select max(t.price)
                  from
                       (select model, price
                        from pc
                        union all
                        select model, price
                        from laptop
                        union all
                        select model, price
                        from printer) as t)
'''

<h2>Задание 25</h2>
Найдите производителей принтеров, которые производят ПК с наименьшим объемом RAM и с самым быстрым процессором среди всех ПК, имеющих наименьший объем RAM. Вывести: Maker

In [26]:
sql = '''
SELECT DISTINCT Maker
    FROM Product
    WHERE Model IN (
        SELECT Model
            FROM Pc
            WHERE Ram = (
                SELECT min(Ram)
                    FROM Pc
            )
              AND Speed = (
                SELECT max(Speed)
                    FROM Pc
                    WHERE Ram = (
                        SELECT min(Ram)
                            FROM Pc
                    )
            )
    )
      AND Maker IN (
        SELECT Maker
            FROM Product
            WHERE Type = 'printer'
    )
'''

<h2>Задание 26</h2>
Найдите среднюю цену ПК и ПК-блокнотов, выпущенных производителем A (латинская буква). Вывести: одна общая средняя цена.

In [27]:
sql = '''
with agg_data as
(select t.maker, t.model,
       ifnull(pc.price, l.price) as price
from Product as t
left join PC as pc on t.model=pc.model
left join Laptop as l on t.model=l.model
where t.maker like 'a')

select avg(price) from agg_data
'''

<h2>Задание 27</h2>
Найдите средний размер диска ПК каждого из тех производителей, которые выпускают и принтеры. Вывести: maker, средний размер HD.

In [28]:
sql = '''
select t.maker, avg(pc.hd) as Avg_hd
from Product as t
inner join PC as pc on t.model=pc.model
where t.maker in (select distinct maker from Product where type like 'printer')
group by t.maker
'''

<h2>Задание 28</h2>
Используя таблицу Product, определить количество производителей, выпускающих по одной модели.

In [29]:
sql = '''
with count_maker as

(select count(t.maker) as qty
from Product as t
group by t.maker
having count(distinct t.model)=1)

select count(qty) as qty
from count_maker
'''